/* start header */
header {
    background-color: #eee;
	border-bottom: 5px solid #222;
}
.logo {
	font-size: 100px;
}
.container{
    width: 90%;
	overflow: hidden;
	margin: auto;
	overflow: hidden;
}
header .container {
    display: flex;
	justify-content: space-between;
	align-items: center;
}
.bc {
	color:rgb(243, 243, 243);
}
.bgc {
	background-color: rgb(63, 80, 110);
}
.sc {
	color: white;
}
header .container .logo {
    height: 100px;    
}
header .container nav ul {
	display: flex;
	list-style-type: none;
}
header .container nav ul li {
	margin-right: 35;
}
header .container nav ul li:last-child {
	margin-right: 0;
}
header .container nav ul li a {
	text-decoration: none;
	font-size: 20px;
	color: #484957;
}
header .container nav ul li a:hover {
	color: cornflowerblue;
}
header .container nav ul li a.Active {
	color: cornflowerblue;
}
	/* End header */


	/* Start Section */	
#fold {
	text-align: end;
	height: 9000px;
	width: 100%;
	background-repeat: no-repeat;
}
#fold .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    height: 100%;
}
#fold .container h1 {
	font-size: 40px;
    position: relative;
    animation-name: leftToRight;
	animation-duration: 2s;
}
#fold .container p {
	font-size: 20px;
	position: relative;
	animation-name: rightToLeft;
	animation-duration: 2s;
}
	/* End Section */
    
	/* Start About Us sevtion */
.head-section {
	text-align: center;
	padding: 5px;
}
.head-section {
    font-size: 40px;
	letter-spacing: 7px;
}
#about-us .container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 40px;
}
#about-us .container .left {
    flex: 3;
}
#about-us .container .right {
    flex: 2;
}
#about-us .container .right img {
	max-width: 100%;
}
#about-us .container h3 {
	font-size: 30px;
}
#about-us .container p {
	font-size: 22px;
}


	/* End About Us sevtion */


	/* Start Our Services sevtion */
	
#our-services .container {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
	flex-wrap: wrap;
}
#our-services .container .area{
    width: 30%;
	text-align: center;
    margin-bottom: 25px;
}
#our-services .container .area-img {
	overflow: hidden;
}	
#our-services .container .area-img img {
	max-width: 100%;
	transition: all 0.4s linear;
}
#our-services .container .area-img img:hover {
	opacity: 0.5;
	transform: scale(1.3,1.3);
}
#our-services .container .area .area-content h3 {
	font-size: 30px;
	margin-bottom: 15px;
}
#our-services .container .area .area-content .area-btn {
	border: 1px solid #ccc;
	padding: 15px 20px;
	background-color: rgba(2,2,2,0.5);
	color: white;
	cursor: pointer;
	transition: all 0.4s linear;

}
#our-services .container .area .area-content .area-btn:hover {
	color: #222;
	background-color: #eee;
	transform: scale(1.1,1.1);

}
	/* End Our Services section */


	/* start Contact-Us section */
#contact-us .container {
    display: flex;
	align-items: center;
	justify-content: center;
}
#contact-us .container form {
	width: 70%;
	padding: 40px;
}
#contact-us .container form label {
	display: block;
	margin: 15px;
}
#contact-us .container form .form-group input ,#contact-us .container form .form-group textarea {
    width: 100%;
	margin-bottom: 30px;
	padding: 10px 15px;
}
	
	/* End Contact-Us section */


	/* Start footer */
footer {
	text-align: center;
	padding: 30px 15px;
	background-color: #484957;
	color: #fff;
}	
	/* End footer */

	/* Start fold-inner section */
#fold-inner {
	height: 500px;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	background-image: url(../image/Screenshot_20\ \(1\).jpg);
}
	/* End fold-inner section */


		

	/* animations */

@keyframes leftToRight 
{
    0%{left:-1500px;}
	100%{left:0px;}
}	
@keyframes rightToLeft 
{
    0%{right:-1500px;}
	100%{right:0px;}
}

